/* 
### Primary
- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)
### Neutral
- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-items > a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(140, 34%, 32%);
    margin-left: 10px;
  }
  .nav-bar > button {
    padding: 15px 28px;
    border: none;
    outline-width: 0;
    color: rgb(27, 25, 25);
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
      120deg,
      hsl(193, 30%, 25%),
      hsl(136, 65%, 51%)
    );
  }
  .hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
 
   }
    .hero-img-container {
    background-image: url('./images/background.jpeg');
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    padding-top: 30px;
   }
   .hero-img-container > img {
    width: 500px;
 
  }
  .hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hero-text-container>h1{
font-size: 100px;
font-weight: 800px;
margin-bottom:5px;
color:aquamarine
line-height 1.1;
  }
  .hero-text-container>p{
color:rgb(47, 138, 103)
margin-bottom 15px;
font-weight: 700px;

  }
  .hero-text-container>button{
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
      120deg,
      hsl(192, 33%, 27%),
      hsl(136, 65%, 51%)
    );
  }
  container{
    background-color: aquamarine;
  }
  .why-us{
    padding-top: 50vh;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
  }
  .why-us>h1{
    font-size: 50px;
    font-weight: 800px;
    margin: bottom 20px;
    color:aquamarine(233,26%,24%)
    
  }
  .why-us>p{
    color:rgb(47, 138, 103)
    margin-bottom 15px;
    font-weight: 700;
  }
.features-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: bottom 10vh;;
}
.feature-item>img{
width: 65px;
margin-bottom: 10px;
}
.feature-item>h1{
    font-size: 50px;
    font-weight: 800px;
    margin: bottom 20px;
    color:aquamarine(233,26%,24%)
}
.feature-item>p{
 color:rgb(66, 185, 140);
font-weight:700; 
}
